.Button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.Button:hover {
  background-color: #0056b3;
}

.secondary-button {
  background-color: #28a745;
}

.secondary-button:hover {
  background-color: #218838;
}