.home-page {
  min-height: 100vh;
  padding: 24px;
  text-align: center; 
}

.home-image {
  width: 50%; 
  max-height: 500px; 
  object-fit: cover; 
  position: absolute; 
  top: 45%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-container {
  margin-top: 20px; 
}

.dynamic-text {
  margin-top: 10px; 
  color: black; 
}

.slider-container {
  margin-top: 40px; 
}
