
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  background-color: #282c34;
  padding: 1rem;
  color: rgb(255, 255, 255);
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar li {
  margin-right: 1rem;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.content {
  flex: 1;
  padding: 2rem;
}
.Page {
  padding: 20px;
  max-width: 1200px; 
  margin: 0 auto; 
}
