.Header {
  background-color: #ffffff; /* تغيير اللون إلى الأبيض */
  padding: 20px;
  text-align: center;
}

.Header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header-text {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.Header-image {
  width: 300px;
  height: auto;
}

.Header-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007bff; /* لون خلفية الزر */
  color: white; /* لون النص */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Header-button:hover {
  background-color: #0056b3; /* تغيير اللون عند المرور فوق الزر */
}
